@use "../base/variables" as v;
@use "sass:map";

@mixin flex-center($gap: 0, $flex-dir: column) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap;
  flex-direction: $flex-dir;
}

// mixin controlling responsiveness
@mixin respond($size) {
  @if $size == null {
    @error "Breakpoint `#{$size}` not found in $breakpoints map.";
  }
  @media (max-width: map.get(v.$breakpoints, $size)) {
    @content;
  }
}

@mixin separation_login_reg(){
  .separation_line{
    margin-top: 20px;
    display: block;
    align-self: center;
    //width: 100%;
    &::before ,&::after{
        display: inline-block;
        content: "";
        width: clamp(60px,8vw,100px);
        height: 1px;
        margin: 5px 10px;
        background-color: #ffffff;
    }
  }
}

@mixin hamburger($color: #000) {
  // ---- Hamburger icon
  .hamburger {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 2px;
    background: currentColor;
    color: $color;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 24px;
      height: 2px;
      background: currentColor;
    }
    &::before { top: -7px; }
    &::after  { top: 7px; }
  }
}

@mixin product_card($height : 150px, $width: 150px, $bg : #fff, $border-radius: 20px){
  @include flex-center(0,column);
  height: $height;
  width: $width;
  background-color: $bg;
  border-radius: $border-radius;

  img{
    max-width: 100%;
    border-radius: $border-radius - 2px;;
  }
  
  .card-title {
    font-size: 14px;
    margin-top: 8px;
  }

  .card-price {
    font-weight: bold;
    margin-top: 4px;
  }


}

