$primary-color: #0F2243;
$accent-color: #a7cdf5;
$text-color: white;

$bg: #0F2243;
$text: #fff;
$accent: #a7cdf5;
$screen_width: 100vw;
$learn_more_text: 20px;

$border-radius-button: 20px;

$breakpoints : (
    sm: 480px,
    md: 768px,
    lg: 1024px,
    xl: 1280px
);
