$primary-color: #0F2243;
$accent-color: #a7cdf5;
$text-color: white;

// testing color
$card_background: #eeeeee;
$drop_down_bg: #dbdbdb;
$cart_product_color: #eeeeee;

$bg: #0F2243;
$text: #fff;
$accent: #a7cdf5;
$screen_width: 100vw;
$learn_more_text: 20px;

$border-radius-button: 20px;

// sizing
$navbar_height : clamp(80px,9vh,100px);
$mobile_navbar_height: clamp(60px,8vh,90px);

// breakpoints, from bootstrap
$breakpoints : (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

$breakpoints_1 : (
    sm: 480px,
    md: 768px,
    lg: 1024px,
    xl: 1280px
);


