@use '../base/mixins' as *;

.body-container{
    //flex: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;


    

    .product_list_window{
        padding-top: 120px;
        height: 100vh;
        //background-color: white;
        width: 100%;
        flex: 1;
        //display: flex;
        //align-items: center;
        
        background-color: #f9fafb;
        .hero{  
            height: 50vh;
            background-color:#868686;
        }
        .product_list{
            
            height: 100vh;
            padding: 50px;
            @include flex-center($flex-dir: row);
        

            .sidebar {
                    
                    width: 240px;
                    height: 80vh;
                    background-color: #ffffff;
                    color: rgb(0, 0, 0);
                    border: #afafaf 2px solid;
                    padding: 20px;
                    //position: fixed;
                    
                    bottom: 100px;
               
                    border-radius: 10px;
                    box-shadow: -1px 5px 5px rgba(0, 0, 0, 0.5);
            

                    ul {
                        list-style: none;
                        padding: 0;
                    }

                    li {
                        margin: 15px 0;
                    }

                    a {
                        color: white;
                        text-decoration: none;
                    }

                    a:hover {
                        text-decoration: underline;
                    }


            }
            .product_grid{
                flex-grow: 1;
                overflow: scroll;
                height: 80vh;
                border-radius: 20px;
                background-color: #ffffff;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                max-width: calc(4 * 300px);
                gap: 10px; /* Optional: spacing between items */
                list-style-type: none; /* Remove bullets */
                padding: 0; /* Remove padding */
                margin-left: 30px; /* Remove margin     */
                padding: 20px;

                .product_in_grid{
                    width: 250px;
                    height: 320px;
                    background-color: #ffffff;
                    border: #000000 1px solid;
                    border-radius: 10px;
                    margin: auto;
                    margin-bottom: 20px;
                    cursor: pointer;
                    opacity: 0.5;
                    transition: opacity 0.5s ease;
                    display: flex;
                    flex-direction: column;
                    //gap:12px;
                    justify-content: flex-start;
                     box-shadow: -1px 5px 5px rgba(0, 0, 0, 0.5);;
                    .image_module{
                        //width: 100%;
                        //height: 100%;
                        padding-top: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img{
                            width: 95%;
                            height: 95%;
                            
                        }
                    }
                    .product_detail_module{
                        display: flex;
                        flex-direction: column;
                        justify-content: end;
                        margin: 10px;
                        height: 100%;
                        
                        span{
                            font-size: 15px;
                        }
                    }

                }
                .product_in_grid_empty{
                    width: 250px;
                    height: 250px;
                    background-color: #c0c0c0;
                    margin: auto;
                    margin-bottom: 20px;
                    cursor: pointer;
                    opacity: 0.5;
                    transition: opacity 0.5s ease;
                }
                .product_card{
                    @include product_card(250px, 250px, #fff, 20px);
                }
                
                .product_in_grid_empty:hover{
                    
                    opacity: 1;
                }
                
            }

        }

    }
}

.productList{
    height: 60vh;
}