.product_display{
    //height: 60vh;
    background-color: #ffffff;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3{
        text-align: center;
        margin: 2vmax;
    }
    
    .product_display_inner{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
        width: 84vw;
        margin-top: 20px;
        margin-bottom: 40px;
        scroll-snap-type: x mandatory;  // nice snapping effect
        padding: 20px;
        scroll-padding-left: 20px;
        scroll-padding-right: 20px;
        gap: 2vw;
        background-color: #f1f1f1;
        border-radius: 20px;

        &::-webkit-scrollbar {
            display: none;          // hide scrollbar for cleaner UI
        }
        

        .card{
            cursor: pointer;
            flex: 0 0 19vw;       // fixed width for each card
            min-height: 50vh;
            background: #d8d8d8;
            border-radius: 30px;
            padding: 16px;
            border: 0px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;  // top info & bottom link
            scroll-snap-align: start;        // snap to left edge
            transition: transform 0.2s ease;

            &:hover{
                transform: scale(1.05);
            }
            @media (max-width : 1440px){
                flex: 0 0 25vw;
            }
            @media (max-width : 960px){
                flex: 0 0 40vw;
            }
            @media (max-width : 600px){
                flex: 0 0 80vw;
            }
        }
        

    }

    .carousel_indicator{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px;
        padding-top: 0;
        
        .dot{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #ccc;
            transition: background-color 0.3s ease, transform 0.2s ease;
        }
        .dot.active {
            background-color: #000;
            transform: scale(1.2);
        }
    }

}