.features-tiles-item-image {
    display: inline-flex;
	border-radius: 50%;
    background: get-color(primary, 2);  
    padding: 3%;
    stroke: white;
}

.features-tiles-item-content {

    h4 {
        @include font-family(heading);
    }
}

