.subHeader{
    position: fixed !important;
	top: 80px;
	width: 100%;
	opacity: 90%;
	z-index: 1 !important;
    background-color: #ffffff;
    border-bottom: #000000 1px solid;
    .subHeader-inner{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: sticky;
    top: 0;
    font-size: 15px;    
        .subHeader-nav{
            .subHeader-nav-inner{
                 margin: 0;
                .subHeader-nav{
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    margin: 0;

                    li{
                        color: black;
                        //padding: 8px;
                        padding: 20px;
                    }
                    
                    a{
                        text-decoration: none;
                        color: black;   
                    }
                    li:hover{
                        background-color: #b9b9b9;
                    }
                }
                
            }
        }
    }
}

