.product{
    width: 100%;
    min-height: 130vh;
    padding: 100px;
    padding-top: 18vh;
    padding-left: 7.5vw;
    padding-right: 7.5vw;
    //overflow: visible;
    z-index: 1;  

    .left-pane{
            width: 55%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        .Big_Img{
            width: clamp(300px,85%,1000px);
            height : clamp(300px,85%,1000px);
            background-color: #c1c1c1;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
                .large_img_config{
                    //border: 2px solid rgb(31, 31, 31);
                    width: 90%;
                    height: 90%;
                    border-radius: 20px;
                    opacity: 40%;
                    cursor: pointer;                    
                }
        }
        .small_Imgs{
            width: 85%;   
            height: 20vh;

            
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            overflow-x: auto;
            scroll-snap-type: x mandatory; 
            gap: 20px; /* Optional: spacing between items */
            list-style-type: none; /* Remove bullets */
            padding: 20px; /* Remove padding */
            margin-top: 20px;
            
            scroll-padding: 0 40px;
            padding-bottom: 20px;
            .small_img_icon{
                &.highlight{
                    border: #000000 2px solid;
                }
                border-radius: 5px;
                .small_img_config{
                flex: 0 0 calc((100% - 3 * 20px) / 4);  
                scroll-snap-align: start; 
                height: 7vw;
                width: 7vw;
                
                //border: 2px solid rgb(31, 31, 31);
                border-radius: 5px;
                margin:0;
                padding: 0;
                
                 cursor: pointer;   

            }
            }
            
            &::-webkit-scrollbar{
                width: 0px;
                height: 8px;
                padding-top: 10px;
            }
          
            &::-webkit-scrollbar-thumb{
                background-color: rgba(#ffffff, 0.0);
                border-radius: 10px;
                z-index: 10;
                transition: background-color .3s ease;
            }
            
            &::-webkit-scrollbar-thumb {
                background-color: rgba(#585858, 1);
            }
        }
    }

    .right-pane{
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        .price_tag{
            width: 80%;
            text-align: left;
            align-items: start;
            h3{
                font-size: 30px;
            }
            h4{
                font-size: 20px;
            }
            h5{
                font-size: 15px;
                &.status_text{
                    color: grey;
                }
                &.id_text{
                    color: rgb(0, 145, 255);
                }
            }
            .review{
                display: flex;
                align-items: center;
                span{
                    display: block;
                    font-size: 15px;
                    &.star{
                        font-size: 20px;
                    }
                }
            }
        }

        .spec_module{
            
            width: 70%;
            min-height: 100px;
            border-width: 4px 0 0 0 ;
            border-radius: 20px;
            padding: 20px;
            background-color: #ffffff;
            cursor: pointer;
            //transform: translateX(80%);
            transition: background-color 0.3s ease;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            
            .Option_buttons{
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: flex-start;
                gap: 10px;
                button{
                    width: 50px;
                    height: 50px;
                    opacity: 0.8;
                    border-radius: 10px;
                    transition: transform 0.2s ease;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                button:hover{
                    opacity: 1;
                    transform: scale(1.1);
                }
            }
            
            .spec_text{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                h5{
                    font-weight: bold;
                    font-size: 15px;
                }
                span{
                    display: block;
                    font-size: 15px;
                }
            }
            
            
        }
        .spec_module:hover{
            background-color: #e6e6e6;
        }
        .buy-module{  
            display: flex;
            align-items: flex-start;
            margin-top: 50px;

            

                .buy-module-container{
                    display: flex; 
                    min-width: 300px; 
                    @media (max-width: 800px) {
                        //width: 400px; 
                        min-width: 300px; 
                        flex-direction: column;
                        align-items: stretch; // optional: make buttons full width
                    }

                    .buy_quantity{  

                        width: 40%;
                        height: 45px;
                        border-radius: 15px;
                        background-color: #ffffff;
                        border: 2px rgb(109, 109, 109) solid;
                        display: flex;
                        align-items: center;
                        justify-content: center; 
                        margin-right: 1%;   
                        button{
                            align-items: center;
                            justify-content: center;    
                            width: 30%;    
                            border-radius: 15px;    
                            border: 0px;
                            height: 40px;
                            background-color: white;


                        }
                        button:hover{
                            background-color: #6e6e6e;
                            color: #ffffff;

                        }
                        input{
                            width: 50px;
                            border: 0px;
                            height: 40px;
                            text-align: center;
                        }
                    }

                    .confirm_button{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #343e46;
                        color: white;
                        width: 50%;
                        height: 45px;
                        border-radius: 20px;
                    }
                    .confirm_button:hover{
                        background-color: white;
                        color: #465d70;
                    }
                }
        } 
    }

    
    .Product_detail{
        .detail_buttons{
            display: flex;
            flex-direction: row;
            align-items: center;
            //gap: 20px;
            //justify-content: space-between;
            //gap: 10px; /* Optional: spacing between items */
            list-style-type: none; /* Remove bullets */
            padding: 0; /* Remove padding */
            //margin: 10px; /* Remove margin */
            margin: 30px 0 30px 0;

            button{
                //min-width: 8vw;
                padding: 0 20px 0 20px;
                color: #000000;
                
                height: 50px;
                background-color: white;
                
                border-radius: 0px;
                border: rgb(135, 193, 229) 0px solid;
                font-size: 20px;
                
                transition: font-size .2s ease, background-color .2s ease-in-out, border-width .2s ease-in-out ;
                text-align: center;
                &.selected{
                     border-width: 0 0 4px 0 ;
                }
            }
            
            button:hover{
                //color: white;
                //font-weight: bold;
                background-color: #e0e0e0;
                
            }
        }
        
        
        .detail_text{
            margin: 0;
            margin-top: 00px;

            ul{
                list-style: none;
                margin: 0px;
                padding: 0px;
                li{
                    padding: 5%;
                    
                    //padding-bottom: 40px;
                    width: 70vw;
                    border: rgb(207, 207, 207) 3px solid;
                    border-width: 0 0 2px 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 30px;
                    .key{
                        display: block;
                        font-weight: bold;
                        min-width: 15vw;
                        text-align: left;
                    }
                    .value{
                        display: block;
                        text-align: left;
                        max-width: 50vw;
                    }
                }
            }
        }
        
        
    } 

    // mobile responsive
    @media(max-width: 800px){ 
        .right-pane{
            align-items: center;
            .buy-module{
                .buy-module-container{
                width: 100%;
                flex-direction: row;
            }
            }
            
        }  
        .Product_detail{
            .detail_buttons{
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: space-between;
                min-width: 100%;
                //gap: 12px;
                border-left: rgb(135, 193, 229) 4px solid;
               
                
                button{
                    width: 100%;
                    color: #000000;
                    padding: 10px;
                    margin: 0;
                    min-height: 60px;
                    background-color: white;
                    
                    border-radius: 0px;
                    border: 0px;
                    font-size: 20px;
                    
                    transition: font-size .2s ease;
                    text-align: left;
                    &.selected{
                        //background-color: rgb(135, 193, 229); 
                        border-width: 8px;  
                    }
                }
                
                button:hover{
                    //color: white;
                    font-size: 22px;
                    
                }
                
            }
            .borderline{
                opacity: 0;
                height: 0px;
            }
            .detail_text{
                margin-top: 50px;
            }
        }
        
    }
}