@mixin flex-center($gap: 0) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

// mixin controlling responsiveness
@mixin respond-to($size) {
  $value: map-get($breakpoints, $size);
  @if $value {
    @media (max-width: $value) {
      @content;
    }
  }
}