// ---- Theme
$bg: #0F2243;
$text: #fff;
$accent: #a7cdf5;
$screen_width: 100vw;

// ---- Header
.site-header {
  position: fixed;
  inset: 0 0 auto 0;
  width: 100%;
  z-index: 900;
  background: $bg;
  opacity: .9;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10vw;
  padding-right: 10vw;
  transition: transform 0.4s ease-in-out, opacity 0.3s ease; // <-- smooth animation
  a{
    text-decoration: none;  
    color: inherit;  
  }

  

  .brand { margin-right: 2%; }

  .site-header-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    font-size: 15px;
    z-index: 900;
     @media (max-width: 960px){
      & {
        justify-content: space-between;
      }
    }
  }
 

  /* ====== NEW STATES ====== */

  &.hidden {
    transform: translateY(-100%); // slide out of view
    opacity: 0.95;               // optional, slight fade
  }

  &.visible {
    transform: translateY(0); // fully visible
    opacity: .9;
  }

  &.force-visible {
    transform: translateY(0) !important; // override hidden when menu is open
    opacity: 1 !important;
  }


}



// ---- Nav (desktop default)
.header-nav {
  flex: 1;
  position: relative;
  .header-nav-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    .dropdown-menu_mobile{
        display: hidden;
        visibility: visible;
    }

    .header-nav-left{
      display: flex;
      flex: 1;
      margin: 0;
      list-style: none;  
      flex-wrap: nowrap;
      white-space: nowrap;
      
      .header_item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        //padding: 20px;
        color: white;
          //width: 100%;
          //height: 100%;
        button{
          text-align: center;
          all: unset;
          padding: 20px;
        }
        
      }
      .header_item:hover{ 
        color: $accent; 
      }

      // Dropdown
      .dropdown {
          
          color: $text;
          cursor: pointer;
          list-style: none;
          padding: 20px;
          //width: 100%;
            //height: 100%; 

          button{
            all: unset;
            //width: 100%;
            //height: 100%; 
            
          }
          button:after{
            content: none;
          }

          &:hover {
              color: $accent;
              > .dropdown-menu {
                
                visibility: visible;
                transform: translateY(0px);
                pointer-events: auto;
                background-color: rgba($bg, 0.99);
                .link{
                  display: block;
                  width: 100%;
                  text-align: left;
                }
              }
              
            }
          
          @media(min-width: 961px){
          .dropdown-menu {
            border: 0px;
            position: fixed;
            top: 60px;
            left: 0;
            
            width: $screen_width;
            
            padding: 50px;
            list-style: none;
            background: $bg;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            visibility: hidden;
            transform: translateY(+10px);

            pointer-events: none;
            background-color: rgba($bg, 0.0);
            transition: background-color .2s ease 0.25s, transform .2s ease .25s, visibility .2s ease .25s;
            
            z-index: 100;
            
            li {
              padding: .5rem 1rem;
              //height: 10px;
              color: rgb(255, 255, 255);
              opacity: 1;
              width: $screen_width;
              font-size: 20px;
              transition: color .2s ease, opacity .2s ease, font-size .2s ease;
              
              

              &:hover { color: $accent; opacity: 1; font-size: 30px; }
            }
          }
       
          }
          
      }
    }    
    // ---- Right side (cart)
      .header-nav-right {
        display: flex;
        list-style: none;
        flex-direction: row;
        align-items: center;
        margin: 0 ;
        


        // CTA button
        .button_2 {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 90px;
          height: 40px;
          padding: 10px 20px;
          border-radius: 15px;
          background: #fff;
          color: #000;

          &:hover { background: #000; color: #fff; }
        }
        justify-content: flex-end;

        + .header-nav-right { flex: 0; }

        .shopping_cart {
          display: flex;
          align-items: center;
          gap: .25rem;
          

          .shopping_cart_link {
            width: 50px;
            height: 50px;
            fill: $text;
            stroke: $text;
            transition: fill .2s ease;

            &:hover { fill: $accent; }
          }

          .box-show {
            position: relative;
            left: -25px;
            top: 10px;
            display: grid;
            place-items: center;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #fff;
            
            transition: opacity .2s ease, visibility .2s ease;
            text-decoration: none;
            .cart-count{
              text-decoration: none;       /* removes underline */
              color: rgb(249, 0, 0);          /* set your own color */
              font-weight: bold;     /* optional for visibility */
            }
            
          }
          .box-hide{
            visibility: 0;
          }
          
        }
        
      }
    
  }
 
}

// ---- Mobile
.header-nav-toggle { display: none; }

@media (max-width: 960px) {
  .header-nav-toggle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    width: 44px;
    height: 44px;
    background: transparent;
    border: 0;
    color: $text;
    cursor: pointer;
  }

  .header-nav {
    position: absolute;
    top: 60px;
    left: 0; right: 0;
    background: $bg;
    max-height: 0;
    overflow-y: scroll;
    transition: max-height .3s ease;

    &.is-active { max-height: 90vh; min-height: 90vh; max-width: 100vw; }

    .header-nav-inner {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
      
      min-height: 90vh;
      padding: 8px 16px;

      
      .dropdown-menu_mobile{
        display: absolute;
        visibility: visible;
        display: flex;
        flex-direction: column;

        &.open{
          border: 0px;
            width: $screen_width;
            list-style: none;
            background: $bg;
            
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            transform: translateY(+10px);

            pointer-events: none;
            background-color: rgba($bg, 0.0);
            transition: background-color .2s ease 0.25s, transform .2s ease .25s, visibility .2s ease .25s;
            
            z-index: 100;
            
            li {
              padding: .5rem 1rem;
              //height: 10px;
              color: rgb(255, 255, 255);
              opacity: 1;
              width: 90vw;
              font-size: 20px;
              transition: color .2s ease, opacity .2s ease, font-size .2s ease;
              
              

              &:hover { color: $accent; opacity: 1; font-size: 30px; }
            
          }
        }
      }

      .header-nav-left{
          flex: 0;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
          max-width: 90vw;
          font-size: 16px;
          padding: 0;

          .dropdown {
            text-align: center;
            .dropdown-menu_mobile{
              display: hidden;
              visibility: hidden;
            }
           
            &.open 
              .highlight{
                color: #a7cdf5;
                transform: scale(1.2);
              }
              
          }
          .dropdown:hover{
            color: #a7cdf5;
            
          }

      }
    }
    li { margin: 8px 0; }

    
  }
}

// ---- Hamburger icon
.hamburger {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 2px;
  background: currentColor;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 24px;
    height: 2px;
    background: currentColor;
  }
  &::before { top: -7px; }
  &::after  { top: 7px; }
}
