@use "../base/_mixins.scss" as *;
@use "../base/variables" as *;
.Sidebar{
    width: 10vw;
    //min-height: 90vh;
    background: $primary-color;
    color: #e5e7eb;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-top: 20px;

    border-right: 1px solid #1f2937;

    position: sticky;
    top: 0;

    font-family: system-ui, -apple-system, sans-serif;

    &.expand{
        width: clamp(200px,15vw,500px);
    }

    .Sidebar_inner{
        //max-height: 70%;
        ul{
            padding: 0 10px 0 20px;
            
            li{
                list-style-type: none;
                padding: 2px 0 2px 0;
                button{
                    width: 100%;
                    margin: 0;
                    padding: 10px;
                    background-color: $primary-color;
                    border: none;
                    border-left: none;
                    color: white;
                    text-align: left;
                    transition:  background-color .3s ease, color .3s ease, border-left .2s ease;
                    &:hover{
                        background-color: $selected-color;
                        //border-left: solid 4px $accent-color;

                    }
                    &.selected{
                        
                        border-left: solid 4px $accent-color;
                    }
                }

                
            }
        }
        
    }
    .Sidebar_footer{
        //min-height: 30%;
        border: solid 1px rgb(124, 124, 124);
        border-width: 1px 0 0 0;
        ul{
            padding: 0 10px 0 20px;
            
            li{
                list-style-type: none;
                button{
                    width: 100%;
                    margin: 0;
                    padding: 10px;
                    background-color: $primary-color;
                    border: none;
                    border-left: none;
                    color: white;
                    text-align: left;
                    transition:  background-color .3s ease, color .3s ease;
                    &:hover{
                        background-color: $selected-color;
                        //border-left: solid 4px $accent-color;

                    }
                    
                    
                }

                
            }
        }

    }
    
        
}