@use '../base/variables' as *;
@use '../base/mixins' as *;
.subHeader{
    position: sticky;
	top: $navbar_height;
	width: 100%;
	opacity: 90%;
    
	z-index: 10 !important;
    background-color: #ffffff;
    border-bottom: #000000 1px solid;
    transition: top 0.2s ease;
    .site-header.hidden ~ main & {
        top: 0;                      // snap to very top of viewport
    }

    .subHeader-inner{
        
        display:flex;
        justify-content: space-between;
        align-items: center;
        height: $navbar_height;
        width: 100%;
        font-size: 15px;   
        padding: 0 7.5vw 0 7.5vw;
         
        .subHeader-nav-toggle{
            display: none;
            @include hamburger($color: black);
        }
            
        .subHeader-nav-inner{
            margin: 0;
            .subHeader-nav{
                list-style: none;
                display: flex;
                flex-direction: row;
                margin: 0;
                padding: 0;
                li{
                    //color: rgb(27, 27, 27);
                    //padding: 8px;
                    padding: 12px;
                    button{
                        border: none;
                        background-color: #ffffff;
                        text-decoration: none;
                        color: rgb(80, 80, 80);   
                        
                    }
                }
                
                
                li:hover{
                   
                    button{
                        color: #000000;
                        //font-weight: bold;
                        text-decoration: underline;
                        }
                    
                }
            }
            
        }
        .filter_module{
            background-color: #ebebeb;
            //padding: 2px 5px 2px 5px;
            border-radius: 20px;
            .filter_btn{
                
                height: 50px;
                border-radius: 20px 0 0 20px;
                border: 0px;
                padding: 0 15px;
                transition: background-color .2s ease;
                &:hover{
                    background-color: $button_hover;
                }
            }
            .clear_btn{
                height: 50px;
                border-width: 0;
                background-color: #ffffff00;
                border-radius: 0 20px 20px 0;
                position: relative;
                padding: 0 15px;
                
                &::before{
                    position: absolute;
                    content: ""; 
                    top: 10px;
                    left: 0px;
                    display: block;  
                    height: 30px;
                    width: 2px;
                    background-color: #000000;
                    margin-right: 8px;  
                }
                &:hover{
                    background-color: $button_hover;
                }
                
            }
        }
        

            
    }
}

// mobile
@include respond(lg){
    .subHeader{
        top: $mobile_navbar_height;
        position: sticky;
        .subHeader-inner{
            position: relative;
            flex-direction: row;
            height: $mobile_navbar_height;
            align-items: center; 
            justify-content: space-between;
            padding: 0 10vw 0 10vw;
            .subHeader-nav-toggle {
                display: flex;
                align-items: center;
                justify-content: center;
                
                width: 44px;
                height: 44px;
                background: transparent;
                border: 0;
                color: $text;
                cursor: pointer;
            }
            
            
            .subHeader-nav-inner{
                position: absolute;
                 top: 100%;
                 left: 0;
                
                width: 100%;
                overflow-x: clip;  
                
                

                .subHeader-nav{
                    
                    padding: 12px 0 12px 0;
                    background-color: #ffffff;
                    width: 100vw;
                    max-height: 0;
                    overflow: hidden; 
                    //visibility: hidden;
                    opacity: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    transform-origin: top;             // important for dropdown feel
                    pointer-events: none;
                    transform: scaleY(0);
                    
                    transition: opacity .2s ease-in-out, transform .3s ease-in-out; 
                    //transition: transform .3s ease-in-out; 
                }
                .subHeader-nav.open{
                    background-color: #ffffff;
                    max-height: 100vh;
                    //visibility: visible;
                    opacity: 1;
                    flex-direction: column;
                    align-items: center;
                    pointer-events: auto;    
                    transform: scaleY(1);
                    li{
                        font-size: 16px;
                        padding: 15px;
                        
                    }
                    li:hover{
                        text-decoration: underline;
                    }
                    &::after{
                        content: "";
                        width: 95%;       /* control how long the line is */
                        height: 2px;      /* thickness */
                        background: rgb(207, 207, 207); /* colour */
                        border-radius: 2px;

                    }
                }
            }
            
        }
    }
}

