// File: main.scss (better formatted SCSS for modular maintainability)

@use 'base/variables';
@use 'base/mixins';

@use 'layout/header';
@use 'layout/footer';
@use 'layout/subheader';
@use 'layout/sidebar';

@use 'components/notification';
@use 'components/grid';

@use 'pages/home';
@use 'pages/login';
@use 'pages/register';
@use 'pages/product';
@use 'pages/cart';
@use 'pages/about';
@use 'pages/rcore';
@use 'pages/productlist';


// Sample File: _variables.scss


.search_bar_section{
    width: 100vmax;
    height: 2vmax;
    min-height: 100px;
    background-color: rgb(224, 224, 224);
    color: black;
    
    margin-top: 80px;
    display: flex;
   
    align-items: center;
    input{
        margin: 50px;
        height: 50px;
        width: 100%;
        border-radius: 20px;
        padding: 20px;
        background-color: white;
        border-color: transparent;
        font-size: 15px;
    }
}
.Hero_bar_section{
    width: 100vmax;
    height: 30vmax;
    min-height: 150px;
    background-color: rgb(222, 228, 241);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2{
        padding : 0px;
        margin: 10px;
    }
    h5{
        padding : 0px;
        margin: 10px;
    }
}

.Intro{
    height: 70vh;
    background-color: #232c38;
    opacity: 90%;
    
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;


}
