.home{
    width: 100vmax;
    height: 100vmax;
    background-color: white;
}
.search_bar_section{
    width: 100vmax;
    height: 2vmax;
    min-height: 100px;
    background-color: rgb(224, 224, 224);
    margin-top: 80px;
    display: flex;
   
    align-items: center;
    input{
        margin: 50px;
        height: 50px;
        width: 100%;
        border-radius: 20px;
        padding: 20px;
        border-color: transparent;
        font-size: 15px;
    }
}
.Hero_bar_section{
    width: 100vmax;
    height: 30vmax;
    min-height: 150px;
    background-color: rgb(222, 228, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2{
        padding : 0px;
        margin: 10px;
    }
    h5{
        padding : 0px;
        margin: 10px;
    }
}

.grid{
    height: 100vh;
    padding: 0px;
    background-color: white;
    
    .grid_display_big{
        
        height: 90%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        
        
        .box {
            /* approx color from image */
           color: rgb(0, 0, 0);
           font-weight: bold;
           padding: 20px;
           margin: 20px;
           margin-top: 50px;
           height: 90%;
           border-color: #232c38;
           border-radius: 20px;
        }
        .box:hover{
            background-color: #232c38;
        }

        .box-1{
            background-color: #93b4e0;
            border-color: #232c38;
            border-width: 10px;
            height: 90%+5%;
            min-width: 400px;
            
        }
            
        .box-1:hover{
            background-color: #677e9c;
            color:rgb(255, 255, 255);
            font-size: 25px
        } 
        .box-2{
            background-color: #697da7;
            min-width: 200px;
        }

        .box-2:hover{
            background-color: #677e9c;
            color:rgb(255, 255, 255);
            font-size: 25px
        }
        
        .box-3{
            background-color: #546a88;
            min-width: 200px;
        }

        .box-3:hover{
            background-color: #677e9c;
            color:rgb(255, 255, 255);
            font-size: 25px
        }

        .box-4{
            background-color: #465d70;
            min-width: 400px;
        }

        .box-4:hover{
            background-color: #677e9c;
            color:rgb(255, 255, 255);
            font-size: 25px
        }
        

        
        .grid_display_mid{
            height: 50%;
        }
    }

}

.Intro{
    height: 70vh;
    background-color: #232c38;
    opacity: 90%;
    
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;


}

.productList{
    height: 60vh;
}




.button_2{
    background-color: white;
    color: rgb(0, 0, 0);
}

.button_2:hover{
    color: white;
    background-color: rgb(0, 0, 0);
}